Repository refrain2333/legal-ai-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, check-secrets, check-todos

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - --score=no

check-secrets:
  name: 检查敏感信息
  entry: python scripts/check_secrets.py
  language: python

check-todos:
  name: 检查待办事项
  entry: python scripts/check_todos.py
  language: python

refactor: 优化项目结构和路径配置
  .claude/settings.json
  .claude/settings.local.json
  README.md
  requirements.txt
  src/config/settings.py
Due: pylint, check-secrets, check-todos

clean: 项目结构优化和清理
  .claude/settings.local.json
  .env.example
  Dockerfile
  README.md
  config/base.yaml
  docker-compose.yml
  scripts/init_project.py
  scripts/simple_init.py
  scripts/validate_data.py
  src/config/settings.py
Due: pylint, check-secrets, check-todos

feat: 添加虚拟环境配置和管理工具
  .claude/settings.local.json
  README.md
  environment.yml
  scripts/check_env.py
  scripts/env_check.py
  scripts/setup_env.bat
  scripts/setup_env.sh
Due: check-secrets, check-todos

feat: 完善CLAUDE.md开发指导文档
  CLAUDE.md
  requirements_fixed.txt
  scripts/init/README.md
  scripts/init/install_dependencies.bat
  scripts/init/install_dependencies.sh
  scripts/init/setup_env.bat
  scripts/init/setup_env.sh
  scripts/init/step1_env_check.py
  scripts/init/step2_project_setup.py
  scripts/init/step3_final_check.py
Due: check-secrets, check-todos

feat: 完成第二阶段核心检索系统实现
  .claude/settings.local.json
  CHANGELOG.md
  README.md
  data/indices/main_index/document_vectors.npy
  data/indices/main_index/embedding_model.pkl
  data/indices/main_index/id_mapping.json
  data/indices/main_index/metadata.json
  data/indices/test_index/document_vectors.npy
  data/indices/test_index/embedding_model.pkl
  data/indices/test_index/id_mapping.json
  data/indices/test_index/metadata.json
  docs/DATA_SPECIFICATION.md
  docs/tasks/CURRENT_TASKS.md
  docs/tasks/PROJECT_ROADMAP.md
  docs/tasks/VERSION_CONTROL.md
  docs/tasks/completed/STAGE1_ANALYSIS.md
  docs/参考资料/1.md
  scripts/check_env.py
  scripts/env_check.py
  scripts/init/step3_final_check.py
  scripts/init_project.py
  scripts/setup_env.bat
  scripts/setup_env.sh
  scripts/simple_init.py
  src/api/app.py
  src/api/search_routes.py
  src/models/embedding.py
  src/models/simple_embedding.py
  src/models/simple_index.py
  src/services/retrieval_service.py
  tests/test_core_functionality.py
Due: pylint, check-secrets, check-todos

refactor: 项目结构标准化和清理
  .claude/settings.local.json
  PROJECT_STRUCTURE.md
  app.py
  final_performance_test.py
  src/main.py
  src/models/large_scale_index.py
  src/models/progressive_index_builder.py
  src/tests/__init__.py
  src/tests/final_performance_test.py
  tools/__init__.py
  tools/full_vectorization_executor.py
  tools/structure_check.py
  tools/verify_project_structure.py
  tools/verify_system_structure.py
Due: pylint, check-secrets, check-todos

feat: v0.4.0 增强评分系统 - 解决三大核心问题
  .claude/settings.local.json
  CLAUDE.md
  docs/OPTIMIZATION_GUIDE.md
  docs/SMART_OPTIMIZATION_PLAN.md
  docs/TECHNICAL_ARCHITECTURE.md
  docs/USER_GUIDE.md
  docs/tasks/PROJECT_ROADMAP.md
  docs/tasks/V0.4.0_ENHANCEMENT_REPORT.md
  docs/tasks/completed/STAGE2_FINAL_REPORT.md
  intelligent_hybrid_test_results.json
  src/services/enhanced_scoring_service.py
  src/services/intelligent_hybrid_ranking.py
  src/services/retrieval_service.py
  src/services/smart_keyword_extractor.py
  test_intelligent_hybrid_ranking.py
  tools/generate_dynamic_legal_dictionary.py
Due: pylint, check-secrets, check-todos

chore: 更新Claude Code本地配置权限
  .claude/settings.local.json
Due: check-secrets

fix: v0.6.0 内容加载核心问题解决 - 完整显示与特殊字符处理
  .gitignore
  CLAUDE.md
  Z-测试/test-neirong.py
  frontend/app.js
  frontend/styles.css
  src/infrastructure/search/vector_search_engine.py
  src/infrastructure/storage/data_loader.py
Due: pylint, check-secrets, check-todos

feat: 切换到Lawformer模型 - 提升法律文本理解能力
  .env
  requirements.txt
  src/config/settings.py
  src/infrastructure/storage/data_loader.py
  src/infrastructure/storage/lawformer_embedder.py
  tools/data_processing/vectorization/criminal_data_vectorizer.py
Due: pylint, check-secrets, check-todos

Path conditions:
  pylint: any of: ^src/ and \.py$ and not ((?x)^(
    .*\.min\.js|
    .*\.min\.css|
    data/raw/.*|
    data/processed/.*|
    models/pretrained/.*|
    models/finetuned/.*|
    logs/.*|
    __pycache__/.*|
    \.git/.*
)$)
  check-secrets: any of: \.(py|yaml|yml|json|env)$, but not: (?x)^(
    .*\.min\.js|
    .*\.min\.css|
    data/raw/.*|
    data/processed/.*|
    models/pretrained/.*|
    models/finetuned/.*|
    logs/.*|
    __pycache__/.*|
    \.git/.*
)$
  check-todos: any of: \.py$, but not: (?x)^(
    .*\.min\.js|
    .*\.min\.css|
    data/raw/.*|
    data/processed/.*|
    models/pretrained/.*|
    models/finetuned/.*|
    logs/.*|
    __pycache__/.*|
    \.git/.*
)$
